<%- include("html_header") -%>
<body>
	<%- include("site_header") -%>
	<div class="py-3 mx-5">
        <form action="/zipcode" method="post">
			<div class="row g-3 align-items-center">
				<div class="col-auto">
					<input type="text" name="zipCode" class="form-control form-login" id="zipCode" value="<%=displayZip%>">
				</div>
				<div class="col-auto">
					<button type="submit" class="btn">Search</button>
				</div>
			</div>
        </form>
        <hr>
        <%for (var i = 0; i < displayZipArray.length; i++) {%>
            <div class="row">
                <div class="row list-view-showing">
                    <div class="col-auto">
                        <a href="/addprovider?provider=<%=displayZipArray[i].lineup_ID%>">
                            <button class="btn btn-add" data-bs-toggle="tooltip" data-bs-placement="top" title="Add">+</button>
                        </a>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col-12 program-name px-0"><%=displayZipArray[i].lineup_name%></div>
                            <div class="col-12 list-info px-0"><%=displayZipArray[i].transport%> / <%=displayZipArray[i].location%></div>
                        </div>
                    </div>
                </div>
            </div>
        <%}%>
	</div>
<%- include("footer") -%>